<div class="row artifacts">
    <div class="col-sm- 3 col-md-3">
        <div class="section tree">
            <div>Artifacts</div>
            <div id="jstree" js-tree="treeConfig" ng-model="treeData" tree-events="select_node:selectNode">
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="col-sm-9 col-md-9">
        <div class="section artifact-overview" ui-view="artifact"></div>
    </div>
</div>
