body {
    padding-top: 60px;
}

.preloader {
    padding-top: 200px;
    text-align: center;
}

.canvas {
    border: solid 1px black;
    height: 90%;
}


/** ------------------------ */
text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}