.viewer {
    display: flex;
    flex-flow: row wrap;
    padding-botton: 10px;
}

node {
    background-color: red;
}

.viewer .sidebar {
    background-color: #f8f8f8;
    border: solid 1px #e7e7e7;
}

.viewer .sidebar {
    flex-basis: 20%;
}

.viewer .viewarea {
    flex-basis: 80%;
    border: solid 1px #e7e7e7;
    padding: 10px;
}

.viewer .sidebar div {
    padding: 10px;
}

.viewer .artifact div {
    padding: 3px 0 2px 0;
}

.viewer .artifact {
    border-bottom: solid 2px #e7e7e7;
    text-align: right;
}

.viewer .artifact .name {
    font-size: 2em;
    font-weight: bold;
}

.viewer .artifact .organization {
    font-size: 1em;
    font-style: italic;
}

.viewer .artifact .version {
}

.cytoscape-navigator {
    width: 200px;
    height: 200px;
}
