@import "../colors";

.node {
  cursor: default;
}

.node rect {
  rx: 10;
  ry: 10;
}

.node rect, .node ellipse, .node circle, .node polygon {
  stroke: #000000;
  fill: #fff;
  stroke-width: 0.75px;
  stroke-linecap: round;
}

.edgePath > path {
  transition: stroke-width 100ms ease-out;
  stroke-width: 1.5px;
}

.clusters rect {
  fill: #00ffd0;
  stroke: #999;
  stroke-width: 1.5px;
}

@each $name, $value in $colors {
  .node.bg-#{$name} rect, .edgePath.#{$name} marker {
    fill: lighten($value, $light-factor);
    stroke: darken($value, $light-factor * 1);
    transition: fill 150ms ease-out;
  }

  .node.bg-#{$name}:hover rect,
  .node.bg-#{$name}.hover rect {
    fill: lighten($value, $light-factor * .7);
    stroke-width: 1.2px;
    transition: fill 150ms ease-out;
  }

  .node.bg-#{$name}.selected rect {
   fill: lighten($value, $light-factor * .3);
   stroke-width: 1.8px;
 }

  .edgePath.#{$name} path {
    stroke: lighten($value, $light-factor * .75);
    transition: stroke-width 100ms ease-out;
  }

  .edgePath.#{$name} path:hover,
  .edgePath.#{$name}.hover path {
    stroke-width: 2px;
    stroke: lighten($value, $light-factor * .3);
  }

  .edgePath.#{$name}.hover marker {
    stroke-width: 1px;
  }

  .edgePath.#{$name}.selected path {
    stroke: darken($value, $light-factor * .4);
  }
}
