@import "variables";

.cgr-sidebar {
  background-color: $gray-100;
  border-right: solid 1px $cgr-border-color;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: calc(100vh - #{$cgr-top-padding});
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;

  .cgr-title {
    background-color: $gray-200;
  }
}
