@import "variables";

.cgr-sidebar-fixed {
  width: 350px;

  .cgr-sidebar {
    background-color: $gray-100;
    border-right: solid 1px $cgr-border-color;
    height: calc(100vh - #{$cgr-top-padding});

    .cgr-sidebar-title {
      padding: 10px 5px 5px 15px;
      font-size: 1.3em;
      font-weight: bold;
    }

    .cgr-sidebar-contents {
      padding: 5px;
    }
  }
}
