@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "./viewer/graph";

svg.view {
  width: 100%;
  height: calc(100vh - #{$cgr-top-padding});
}

text {
    font-weight: 300;
    font-size: 14px;
}

.display-options .head {
  background-color: $gray-500;
}

.display-options .body {
  height: 0px;
  overflow: scroll;
  transition: height 0.3s ease-out;
  background-color: $gray-300;
}

.display-options .body.expanded {
  transition: height 0.3s ease-out;
  height: 200px;
}

@mixin x-badge-variant($bg) {
  color: #212529;
  background-color: $bg;

  &[href] {
    @include hover-focus {
      color: #212529;
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}

@each $name, $value in $colors {
  .#{$name} {
    color: $value;
  }

  .badge-#{$name} {
    @include x-badge-variant($value);
  }

  .bg-#{$name} {
    @include bg-variant($name, $value);
  }
}

@each $name, $value in $colors {
  .#{$name}.light {
    color: lighten($value, $light-factor);
  }

  .badge-#{$name}.light {
    @include x-badge-variant(lighten($value, $light-factor));
  }

  .bg-#{$name}.light {
    @include bg-variant($name, lighten($value, $light-factor));
  }
}

@each $name, $value in $colors {
  .#{$name}.dark {
    color: darken($value, $light-factor);
  }

  .badge-#{$name}.dark {
    @include x-badge-variant(darken($value, $light-factor));
  }

  .bg-#{$name}.dark {
    @include bg-variant($name, darken($value, $light-factor));
  }
}
