<div class="row">
    <div class="col-lg-3">
        <h3 ng-show="application"> {{application.name}} modules</h3>
        <ul ng-show="application" class="modules list-unstyled">
            <li class="module" ng-repeat="module in application.modules | orderBy: 'name'">
                <div class="name">{{module.name}}</div>
                <span class="controls">
                    <span ng-click="showGraph(application.name, module.name)">dependencies</span>
                    <span ng-click="showGraph(application.name, module.name)">impact</span>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div id="view-area">
            <div class="loading text-center" ng-show="requesting">
                <div><img src="/images/ring.gif" /></div>
                <div class="message">Hang tight. This may take a while.</div>
            </div>
            <div class="organizations" ng-show="rendered">
                <div>
                    <b>Organizations</b>
                    <span class="small controls">
                        <span ng-click="hideAll()">Hide all</span> | <span ng-click="showAll()">Show all</span>
                    </span>
                </div>
                <span class="org label" ng-class="{'label-default': hiddenOrgs.contains(organization), 'label-success': !hiddenOrgs.contains(organization)}" ng-repeat="organization in graph.organizations() | orderBy: organization" ng-click="toggleView(organization)">{{organization}}</span>
            </div>
            <div>
                <svg id="svg-canvas" width="100%" height="600"></svg>
            </div>
        </div>
    </div>
</div>


